// lib
@import "bootstrap/bootstrap";
@import "fontawesome/font-awesome";

// share

@import "template/share";

// common
@import "template/header";
@import "template/footer";

// page
@import "page/home";
@import "page/news";

// sign in, register page
@import "page/si_reg";

// search region page
@import "page/search";

// others
@import "others/margins_paddings";
