// lib
@import "bootstrap/bootstrap";
@import "fontawesome/font-awesome";

// share

@import "template/share";

// common
@import "template/header";
@import "template/footer";

// page
@import "page/home";
@import "page/news";
@import "page/dashboard";

// sign in page
@import "page/signin";

// others
@import "others/margins_paddings";
