#all_products {
  background-color: #f6f6f6;
  padding-bottom: 3.4rem;
  font-size: .94rem;


  // common
  .inner {
    @extend %inner;
  }

  .breadcrumb-wrapper {
    padding-bottom: .75rem;
    margin-bottom: 1rem;
    border-bottom: 1px dashed #d2d2d2;
  }

  .company {
    display: flex;
    flex-wrap: wrap;

    &__img {
      flex: 8% 1 1;
    }

    &__text {
      flex: 69% 1 1;
      padding-left: 1.3rem;
    }

    &__table {
      flex: 23% 1 1;
      padding-left: 1.9rem;
      padding-right: 7%;
    }

    &__name {
      font-family: 'Roboto Bold';
      font-size: 1.4rem;
      margin-bottom: .75rem;
    }

    &__intro {
      color: #58595b;
    }

    &__feature {
      border: 1px solid #0165c8;

      &__text {
        flex: 80% 1 1;
      }

      &__photo {
        flex: 18% 1 1;
        text-align: center;
      }

      &__text {
        flex: 82% 1 1;
        padding-left: .8rem;
      }

      > li {
        border-top: 1px solid #0165c8;
        display: flex;
        flex-wrap: wrap;
        padding: .3rem .6rem;

        &:first-child {
          border-top: 0;
        }
      }

      .year {
        color: #0165c8;
      }
    }
  }

  // layout
  .product-main {
    @include clearfix();
    margin-top: 1.25rem;
  }

  .aside {

    &__item {
      padding: 1.5rem .9rem 1.9rem;
      background-color: #fff;
      border: 1px solid #ebebeb;
      margin-bottom: 1.25rem;
    }

    &__title {
      font-family: 'Roboto Bold';
      font-size: 1.4rem;
      margin-bottom: 1.75rem;
    }

    .profile {
      padding-top: 1.5rem;
      padding-bottom: 1.9rem;
    }
  }

  .content {
    &__product {
      background: #fff;
      border: 1px solid #ebebeb;
    }
  }

  // component
  .category {
    li {
      margin-top: 1.25rem;
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }

  .product-amount {
    padding: 1.5rem 1.5rem 1rem;
    border-bottom: 1px solid #ebebeb;

    &__title {
      font-family: 'Roboto Bold';
      font-size: 1.4rem;
      display: inline-block;
      margin-right: 1.5rem;
    }
  }

  .product-list {
    padding: 1.25rem 1.2rem .6rem;
    border-bottom: 1px solid #ebebeb;

    &__link {
      color: #000;
      text-decoration: none;
    }

    &__name {
      margin-top: .5rem;
      margin-bottom: .25rem;
    }

    &__feature {
      color: #58595b;
    }

    > li {
      padding-right: .4rem;
      padding-left: .4rem;
      margin-bottom: 1.75rem;
    }

    .o-text-bold {
      font-family: 'Roboto Bold';
    }

    .img-fluid {
      width: 100%;
    }
  }

  .product-bottom {
    padding-top: 1.25rem;
    padding-bottom: 1rem;
  }
}

@include media-breakpoint-up(sm) {
  #all_products {
    // component
    .product-list {
      display: flex;
      flex-wrap: wrap;
      > li {
        flex: 50% 0 0;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #all_products {
    // component
    .product-list {
      > li {
        flex-basis: 33.3%;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #all_products {
    // layout
    .content {
      width: 78.57143%;
      float: left;
      padding-left: 1.25rem;

      &__product {
        background: #fff;
        border: 1px solid #ebebeb;
      }
    }

    // component
    .product-list {
      > li {
        flex-basis: 25% 1 1;
      }
    }
  }
}