%item {
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 15px;
}

%btn_dash {
  background: #cccccc;
  border: none;
  color: #505050;
  font-size: 15px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 7px 0;
  @include border-radius(5px);
}

%title_dash {
  background: #ebebeb;
  padding: 20px;
  h2 {
    font-size: 18px;
    margin: 0;
    text-transform: capitalize;
  }
}

%middle {
  display: inline-block;
  vertical-align: middle;
}

aside {
  width: (270/1260)*100%;
  float: left;
  .profile {
    @extend %item;
    margin-bottom: 20px;
    .head_profile {
      @extend %flex_center;
      margin-bottom: 15px;
      .avatar {
        border: 1px solid #ebebeb;
      }
      .info {
        padding-left: 10px;
        a,
        span {
          display: block;
        }
      }
    }
  }
  .my_list {
    @extend %item;
    h2 {
      text-transform: capitalize;
      font-size: 18px;
      font-family: 'Roboto Bold';
    }
    img {
      @extend %middle;
      margin-right: 7px;
    }
    p {
      margin: 10px 0;
    }
  }
  @media screen and (max-width: 991px) {
    width: 100%;
    float: none;
  }
}

article {
  width: (970/1260)*100%;
  float: right;
  @media screen and (max-width: 991px) {
    width: 100%;
    float: none;
  }
}

.dash_menu {
  background: $g_blue;
  .inner {
    @extend %inner;
  }
  ul {
    li {
      float: left;
      a {
        color: #fff;
        display: block;
        background-color: $g_blue;
        background-repeat: no-repeat;
        background-position: 15px center;
        padding: 8px 15px 8px 40px;
        text-transform: capitalize;
        &.home {
          background-image: url('/assets/images/share/icon/icon_home.png');
        }
        &.message {
          background-image: url('/assets/images/share/icon/icon_message.png');
        }
        &.product {
          background-image: url('/assets/images/share/icon/icon_product.png');
        }
        &.account {
          background-image: url('/assets/images/share/icon/icon_account.png');
        }
        &.active,
        &:hover {
          background-color: $g_blue_hover;
          text-decoration: none;
        }
      }
      @media screen and (max-width: 991px) {
        a {
          font-size: 0;
          padding: 22px;
        }
      }
    }
  }
}

#dash_home {
  padding-top: 30px;
  background: $background;
  .inner {
    @extend %inner;
  }
  article {
    .new_message {
      .title {
        @extend %title_dash;
      }
    }
    .account {
      margin: 15px 0 50px;
      .title {
        @extend %title_dash;
      }
    }
    .content {
      border: 1px solid #ebebeb;
      table {
        width: 100%;
        tr {
          border-bottom: 1px solid #ebebeb;
        }
        td {
          padding: 20px 15px;
          a {
            color: $g_blue;
            font-size: 14px;
          }
        }
      }
      .btn_dash {
        @extend %btn_dash;
      }
      .content_item {
        padding: 25px 15px;
        border-bottom: 1px solid #ebebeb;
        a {
          color: $g_blue;
          font-size: 14px;
        }
        .middle {
          @extend %middle;
          margin-right: 10px;
        }
      }
    }
  }
}

#dash_message {
  padding-top: 30px;
  margin-bottom: 30px;
  background: $background;
  .inner {
    @extend %inner;
    @extend .font-sm;
    h5 {
      font-size: 22px;
      @extend .font-sbold;
    }
    form {
      .table-responsive {
        margin-top: 25px;
      }
      #pagination {
        text-align: left;
      }
      table {
        white-space: nowrap;
        border: 1px solid #ebebeb;
        thead {
          background-color: #ebebeb;
        }
        tr {
          th:first-child {
            padding-left: 40px;
          }
          span.remove {
            background-image: url('/assets/images/share/icon/icon_remove.png');
            background-repeat: no-repeat;
            background-position: center;
            padding: 20px;
            cursor: pointer;
          }
          p {
              font-weight: normal;
              margin-bottom: 0;
          }
          button {
            color: #656565;
            &:hover, &:focus {
              background-color: #00b147;
              color: #fff;
            }
          }
        }
      }
    }
  }
}