.it_content {
  .headline {
    margin-bottom: 70px;
    @extend .mgt-30;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    label {
      font-size: 24px;
      @extend .font-sbold;
      padding: 0;
      margin-bottom: 0;
    }
    .space_bar {
      border: 3px solid #cccccc;
      background-color: #ccc;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0; 
      border-radius: 5px;
      height: 10px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .logistics {
    display: flex;
    .sub_content:nth-child(1) {
      width: (450/1260)*100%;
      h4 {
        font-size: 24px;
      }

      p {
        margin-top: 30px;
        @extend .font-md;
        color: #58595b;
        &.blur {
          margin-top: 35px;
          color: #939598;
        }
      }
    }
    .sub_content:nth-child(2) {
      padding-left: 30px;
      width: (810/1260)*100%;
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      grid-row-gap: 35px;
      grid-column-gap: 20px;
      span.item {
        align-self: center;
        text-align: center;
      }
    }
    @media screen and (max-width: 479px) {
      display: block;
      .sub_content:nth-child(n) {
        padding-left: 0;
        width: 100%;
        p {
          margin-top: 15px;
          &.blur {
            margin-top: 20px;
          }
        }
      }
    }
  }

  hr {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}