#breadcrumb {
  margin-bottom: 30px;

  .inner {
    @extend %inner;
  }

  ul {
    @include clearfix();
    padding: 20px 0;
    border-bottom: 1px dashed #d4d4d4;

    li {
      float: left;
      margin-right: 10px;

      a {
        display: block;
        color: #939598;
        padding-right: 16px;
        background: url('/assets/images/share/icon/icon_angle_right.png') no-repeat right center;
      }
    }
  }
}

  #pagination {
    text-align: center;

    ul {
      @include clearfix();
      display: inline-block;

      li {
        float: left;
        margin: 0 5px;

        a {
          display: block;
          padding: 0 13px;
          line-height: 35px;
          color: #000;
          background: #fafafa;
          @include border-radius(3px);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
          text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

          @media screen and (max-width: 575px) {
            padding: 0 10px;
            line-height: 25px;
            font-size: 13px;
          }

          &.active,
          &:hover {
            background: $g_green;
            color: #fff;
            text-decoration: none;
          }
        }

        &:first-child,
        &:last-child {
          a {
            padding: 0 20px;
            @media screen and (max-width: 575px) {
              padding: 0 10px;
            }
          }
        }
      }
    }
  }

  #news {
    box-shadow: inset 1px 4px 9px -6px #6a6a6a;
    .inner {
      @extend %inner;
      @include clearfix();

      h2 {
        font-size: 22px;
        font-family: 'Roboto Bold';
      }
    }

    .aside {
      float: left;
      width: (270/1260)*100%;

      ul {
        li {
          border-bottom: 1px dashed #ebebeb;

          a {
            display: block;
            background: url('/assets/images/share/icon/icon_angle_blue.png') no-repeat 9px center;
            padding: 10px 0 10px 26px;
            font-size: 15px;
            color: #000;
          }
        }
      }
    }

    .article {
      float: right;
      width: (970/1260)*100%;

      .carousel {
        width: 100%;
      }

      .news_item {
        @extend %flex_center;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 18px;
        margin-bottom: 18px;

        h3 {
          font-size: 18px;
          font-family: 'Roboto Bold';
          margin: 0;
        }

        .info {
          padding-left: 13px;
          font-size: 15px;

          p {
            margin: 0;
          }

          a {
            text-transform: uppercase;
            color: $g_blue;
            text-decoration: underline;
          }

          .event {
            color: #6a6a6a;

            span {
              display: inline-block;
              margin-right: 10px;

              &.review {
                background: url('/assets/images/share/icon/icon_reviews.png') no-repeat left center;
                padding-left: 25px;
              }

              &.promotion {
                background: url('/assets/images/share/icon/icon_promotion.png') no-repeat left center;
                padding-left: 25px;
              }
            }
          }
        }
      }

      .news_title {
        font-size: 2.0rem;
      }

      .news_block {
        .info {
          font-size: 15px;

          p {
            margin: 0;
          }

          a {
            text-transform: uppercase;
            color: $g_blue;
            text-decoration: underline;
          }

          .event {
            display: block;
            color: #6a6a6a;

            span {
              display: inline-block;
              margin-right: 10px;

              &.review {
                background: url('/assets/images/share/icon/icon_reviews.png') no-repeat left center;
                padding-left: 25px;
              }

              &.promotion {
                background: url('/assets/images/share/icon/icon_promotion.png') no-repeat left center;
                padding-left: 25px;
              }
            }
          }
        }
      }

      .news_control {
        display: flex;
        border: 1px solid #f2f2f2;
        padding: 30px 10px;

        .prev_btn,
        .next_btn {
          a {
            font-size: 15px;
            font-weight: 600;
            color: rgb(76, 76, 76);
            text-decoration: none;
          }
        }

        .next_btn {
          text-align: right;
        }

        .socials {
          list-style-type: none;
          text-align: center;

          .img-fluid {
            color: rgb(116, 172, 240);
            margin: 0 20px;
          }
        }
      }

      .news_reply {
        .news_comment {
          textarea {
            border-radius: 0;
          }
        }

        .informations {
          display: flex;

          span {
            padding: 0;
          }

          .first {
            padding-right: 30px;
          }

          .second {
            padding-right: 30px;
          }

          .thrid {
            padding: 0;
          }
        }

        .actions {
          padding: 0;

          button {
            background-color: rgb(68, 115, 182);
            width: 100%;
          }

          .first {
            padding: 0;
            padding-right: 30px;
          }

          .second {
            padding: 0;
          }

          .thrid {
            padding: 0;
          }
        }
      }

      .break_20 {
        margin-top: 20px;
      }

      .news_detail {
        margin-bottom: 50px;
        h3 {
          font-size: 32px;
          @extend .font-sbold;
          margin: 35px 0;
        }

        .info_article {
          font-size: 15px;
          color: #6a6a6a;
          margin-bottom: 25px;
          span {
            margin-right: 10px;
            &.icon_sm {
              color: #909090;
            }
          }

          .icon_sm::before {
            margin-right: 5px;
          }
          .comment_icon::before {
          content: url('/assets/images/news/comment_icon.png');
          }
        
          .tag_icon::before {
            content: url('/assets/images/news/tag_icon.png');
          }
       }

      .navigate_article {
        margin-bottom: 40px;
        border: 1px solid #ebebeb;
        display: flex;
        justify-content: space-between;
        padding: 25px;
        >a {
          color: #000;
        }
        .social {
          li {
            float: left;
            margin: 0 25px;
          }
          a {
            color: #4eaef3;
          }
        }
      }

      .reply_form {
        h4 {
          font-size: 22px;
          margin-bottom: 20px;
        }
        
        textarea {
          width: 100%;
          border: 1px solid #ced4da;
          padding: 30px 20px;
          resize: none;
          &::placeholder {
            color: #bcbec0;
          }
        }

        .multi_form_control {
          input {
            max-width: 30%;
            flex: 0 0 30%;
            &::placeholder {
              color: #bcbec0;
            }
          }
        }

        .form-group {
          margin-bottom: 20px;
        }

        .btn-send-control {
          width: 30%;
          background-color: #1474b9;
          color: white;
        }
      }

      }

      .privacy {
        h3 {
          font-size: 22px;
          font-family: 'Roboto Bold';
          margin-bottom: 45px;
        }

        p {
          margin-bottom: 35px;
        }
      }
    }

    @media screen and (max-width: 767px) {

      .aside,
      .article {
        width: auto;
        float: none;
      }

      .aside {
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 575px) {
      .article {
        .news_item {
          display: block;

          .thumb {
            img {
              width: 100%;
              height: auto;
            }
          }

          .info {
            padding: 10px 0 0;
          }
        }
        .news_detail {

         .navigate_article {
          padding: 10px;
          position: relative;
          span {
            text-align: center;
            &.navigate {
              font-size: 0;
              &:first-child::before {
                font-size: 22px;
                position: absolute;
                top: 5px;
                left: 5px;
                content: "<";
              }
              &:last-child::before {
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 22px;
                content: ">";
              }
            }
          }
        }

        .reply_form .multi_form_control {
          display: block;
          input {
            margin-bottom: 20px;
            max-width: 100%;
            flex: 0 0 100%;
          }
      }

      }
      }
    }
  }
