#product_detail {
  background-color: #f6f6f6;
  padding-bottom: 3.4rem;
  font-size: .94rem;


  // common
  .inner {
    @extend %inner;
  }

  hr {
    border-style: dashed;
  }

  // layout
  .product-main {
    margin-top: 0.9rem;
    &__title {
      font-size: 1.4rem;
      font-family: 'Roboto Bold';
      line-height: 1.3;
      margin-bottom: 1rem;
    }
  }

  // component
  .relate-topic {
    &__item {
      margin-top: 1rem;
    }

    &__link {
      color: #000;
      text-decoration: none;
    }

    &__name {
      margin-bottom: .25rem;
    }

    &__weight {
      color: #58595b;
    }

    .font-weight-bold {
      font-family: 'Roboto Bold';
    }

    .img-fluid {
      width: 100%;
    }
  }

  .product-box {
    padding: 1.5rem .9rem 1.9rem;
    background-color: #fff;
    border: 1px solid #ebebeb;
    margin-bottom: 1.25rem;

    &--gray {
      background-color: #efefef;
    }
  }

  .price-table {
    > li {
      display: flex;
      margin-top: .4rem;
    }

    .weight {
      flex: 36% 1 1;
    }

    .price {
      flex: 64% 1 1;
      color: #0165c8;
      font-family: 'Roboto Bold';
    }
  }

  .product-intro {
    &__slide {
      flex: 55% 1 1;
      padding-right: 1.5rem;

      .carousel-indicators {
        position: static;
        margin: .6rem 0 0;
        justify-content: flex-start;

        li {
          height: auto;
          width: 64px;
          margin-left: 0;
          margin-right: .6rem;
          border: 1px solid #ebebeb;

          &.active {
            border-color: #00b147;
            border-width: 2px;
          }
        }
      }
    }

    &__visual {
      border: 1px solid #ebebeb;
    }

    &__price {
      background-color: #eef7f5;
      padding: 1rem;

      .title {
        color: #58595b;
      }
    }

    .feature-table {
      margin-top: 1rem;
      margin-bottom: 1.25rem;
      &__name {
        flex: 37% 1 1;
        color: #58595b;
      }
      &__text {
        flex: 63% 1 1;
      }

      > li {
        display: flex;
        margin-top: .4rem;
      }
    }

    .sharing {
      margin-top: 1rem;

      > li {
        margin-left: 1.5rem;
        display: inline-block;

        &:first-child {
          margin-left: 0;
        }
      }

      .fa {
        margin-right: .5rem;
        color: #ccc;
      }

      .fa-comment {
        color: inherit;
      }

      .message {
        color: #0165c8;
      }
    }

    .chat-now {
      margin-top: .75rem;

      a {
        display: inline-block;
        vertical-align: middle;
        color: #0165c8;
      }
      .list-inline {
        display: inline-block;
        vertical-align: middle;
        margin-left: 1.5rem;
      }
      .list-inline-item {
        margin-left: 1.25rem;
        margin-right: 0;
      }
      .img-fluid {
        max-width: 24px;
      }
    }

    .btn-download {
      display: inline-block;
      margin-top: 1.25rem;
      padding-left: 1.5rem;
      background: url(/assets/images/share/icon/icon_pdf_file.png) no-repeat left center;
      color: #0165c8;
    }
  }

  .overview {
    margin-bottom: 1.25rem;
    &__list {
      > li {
        margin-top: .6rem;

        &:first-child {
          margin-top: 0;
        }
      }

      span {
        color: #58595b;
      }
    }

    &__price {
      &-text {
        font-family: 'Roboto Bold';
        margin-bottom: 0.75rem;
      }
    }

    .service {
      flex: 60% 1 1;
    }

    .price {
      flex: 40% 1 1;
    }
  }

  .product-description {
    p {
      margin-bottom: 1.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .contact-form {
    &__unit {
      margin-top: 0.5rem;
    }
    label {
      padding-right: .75rem;
    }

    .form-group {
      margin-bottom: .75rem;
    }

    .btn-success {
      background-color: #00b147;
    }

    .required {
      color: #fe1010;
    }
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;

    &__link {
      color: #000;
      text-decoration: none;
    }

    &__name {
      margin-top: .5rem;
      margin-bottom: .25rem;
    }

    &__feature {
      color: #58595b;
    }

    > li {
      flex: 50% 0 0;
      padding-right: .4rem;
      padding-left: .4rem;
      margin-bottom: 0.5rem;
    }

    .o-text-bold {
      font-family: 'Roboto Bold';
    }

    .img-fluid {
      width: 100%;
    }
  }

  .product-relate-bottom {
    margin-right: -.4rem;
    margin-left: -.4rem;
    position: relative;

    &__control {
      position: absolute;
      right: 4px;
      top: -40px;
      a {
        color: #000;
        font-weight: normal;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #product_detail {
    // component
    .contact-form {

      &__unit {
        padding-left: .75rem;
        margin-top: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #product_detail {
    // layout
    .product-main {
      @include clearfix();
      margin-top: 1.25rem;
    }

    .aside {
      float: right;
    }

    .content {
      width: 78.57143%;
      float: left;
      padding-right: 1.25rem;
    }

    // component
    .relate-topic {
      &__wrapper {
        display: flex;
        flex-wrap: wrap;
      }

      &__img {
        flex: 40% 1 1;
      }

      &__text {
        flex: 60% 1 1;
        padding-left: .6rem;
      }
    }

    .product-intro {
      display: flex;
      flex-wrap: wrap;

      &__slide {
        flex: 55% 1 1;
        padding-right: 1.5rem;
      }

      &__text {
        flex: 45% 1 1;
      }
    }

    .overview {
      .product-intro__price {
        width: 480px;
      }
    }

    .product-list {
      > li {
        flex: 25% 0 0;
        margin-bottom: 0;
      }
    }

    .contact-form {

      label {
        text-align: right;
      }
    }
  }
}