.search_region.inner {
  @extend %inner;
  h5 {
    font-size: 1.375rem;
    font-weight: bold;
  }

  .outer_sr {
    padding: 1.5625rem 1.25rem;
    border: 1px solid #ebebeb;
    .head_text {
      display: flex;
      justify-content: space-between;
      .leave_mess {
        display: flex;
        &::before {
          content: url('/assets/images/share/icon/chat-icon.png');
          margin-right: 5px;
          align-self: center;
        }
        &::after {
          content: url('/assets/images/share/icon/question-icon.png');
          margin-left: 5px;
          align-self: center;
        }
      }
    }

    .inner_sr {
      border: 1px solid #ebebeb;
      #country-tab {
        .nav-link.active {
          border: none;
          border-bottom: 3px solid #00b147;
        }

        a {
          padding: 15px;
          color: #58595b;
          @extend .font-md;
          font-weight: bold;
        }
      }
    }

    #nav-tabContent {
      padding: 25px;
      div.tab-pane.active {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-row-gap: 15px;
        span {
          position: relative;
          img {
            margin-right: 10px;
          }
          span {
            // position: absolute;
            // bottom: -5px;
          }
        }
        @media screen and (max-width:479px) {
          grid-template-columns: auto;
        }

        @media screen and (min-width:480px) and (max-width:767px) {
          grid-template-columns: auto auto;
        }

        @media screen and (min-width:768px) and (max-width:1023px) {
          grid-template-columns: auto auto auto;
        }

       
      }
    }
  }
}

.inner .breadcrumb {
  background-color: transparent;
  color: #bebfc1;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 0.8125rem;
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
  }

  .breadcrumb-item.active {
    // font-weight: bold;
    color: black;
  }
}