.si_container {
    width: 960px;
    height: 760px;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    font-size: 18px;

    #si_header {
        padding: 0;
    }
    #si_form {
        position: relative;
        border: 0.5px solid #e1e1e1;
        #signin_form {
            // background-color: #f8f8f8;
            position: absolute;
            top: 0;
            padding: 0;
    
            .form-group {
                margin-bottom: 0.8rem;
    
                label {
                    font-weight: 300;
                }

                #si_with {
                    margin-bottom: 0;
                }
                #si_with::before, #si_with::after {
                    display: inline-block;
                    content: "";
                    border-top: 1px solid #e1e1e1;
                    width: 8rem;
                    margin-right :1rem;
                    margin-left :1rem;
                    transform: translateY(-0.4rem);
                }
            }
            
            .si_margin{
                margin: 30px 30px 0 30px;
            }
        
            
        }
    }
    
}



.fr {
    float: right;
}

.btn-fb {
    background-color: #3b5898;
    color: #ffffff;
}
.btn-in {
    background-color: #005983;
    color: #ffffff;
}
.btn-tw {
    background-color: #339dc3;
    color: #ffffff;
}

.font-sm {
    font-size: 15px;
}

.font-md {
    font-size: 18px;
}

.font-bold {
    font-weight: 300;
}