// root font 16px

//margin- top
.mgt-25 {
    margin-top: 1.5625rem;
}

.mgt-45 {
    margin-top: 2.8125rem;
}


// margin-bottom
.mgb-15 {
    margin-bottom: 0.9375rem;
}

.mgb-20 {
    margin-bottom: 1.25rem;
}