footer {
  .inner {
    @extend %inner;
  }
  .sitemap {
    background: #efefef;
    padding: 30px 0 20px;
    .sitemap_top {
      display: flex;
      .column:nth-child(1) {
        width: (419/1260)*100%;
      }
      .column:nth-child(2) {
        width: (444/1260)*100%;
      }
      .column:nth-child(3) {
        width: (397/1260)*100%;
      }
      .title {
        text-transform: uppercase;
        font-size: 18px;
        font-family: 'Roboto Bold';
      }
      ul {
        li {
          margin-top: 10px;
          a {
            color: #000;
          }
        }
      }
      .subscribers {
        position: relative;
        overflow: hidden;
        margin: 15px 0 20px;
        max-width: 768px;
        @include border-radius(5px);
        input {
          width: 100%;
          font-size: 15px;
          padding: 6px 13px 7px;
          border: 1px solid #ccc;
          @include border-left-radius(5px);
        }
        button {
          width: 106px;
          padding: 8px 0 10px;
          color: #fff;
          background: $g_green;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 14px;
          @include border-right-radius(5px);
        }
      }
      .social_list {
        @include clearfix();
        li {
          float: left;
          padding-right: 11px;
        }
      }
      @media screen and (max-width: 991px) {
        display: block;
        .column:nth-child(1),
        .column:nth-child(2),
        .column:nth-child(3) {
          width: 100%;
          margin-top: 15px;
        }
      }
    }
    .sitemap_bottom {
      display: table;
      width: 100%;
      padding-top: 25px;
      margin-top: 25px;
      border-top: 1px dashed #ccc;
      .column {
        display: table-cell;
      }
      p {
        margin: 0;
        font-size: 15px;
      }
      span {
        display: block;
      }
      .bold {
        font-weight: bold;
      }
      @media screen and (max-width: 991px) {
        display: block;
        padding-top: 10px;
        .column {
          display: block;
          margin-top: 15px;
        }
      }
    }
  }
  .footer_bottom {
    background: #0165c8;
    padding: 12px 0 13px;
    @include clearfix();
    .copyright {
      float: left;
      color: #c5c5c5;
      margin: 0;
      span {
        color: #fff;
        display: block;
      }
    }
    .bank {
      float: right;
    }
    @media screen and (max-width: 991px) {
      text-align: center;
      .copyright {
        margin-top: 15px;
        float: none;
      }
      .bank {
        float: none;
      }
    }
  }
}