%inner {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

%flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%arrow {
  background: url('/assets/images/share/icon/icon_arrow.png') no-repeat right center;
}

$g_blue: #0165c8;
$g_green: #00b147;

// %arrow_show {
//   background: url('/assets/images/share/icon/icon_arrow_close.png') no-repeat right center;
// }

@font-face {
  font-family: 'Roboto Bold';
  src: url('/assets/fonts/RobotoTTF/Roboto-Bold.ttf') format("opentype");
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('/assets/fonts/RobotoTTF/Roboto-Regular.ttf') format("opentype");
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
}

input:focus,
button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: 'Roboto Regular', serif;
}

.number_round {
  color: #ffffff;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  @extend .mgr-5;
}